@{
    ViewBag.Title = "The Creative Realtors";
}

<div class="jumbotron text-center">
    <h1>The Creative Realtors &reg;</h1>
    <p class="lead">We'll help you to find the best solution</p>
    <p><b>Guaranteed.</b></p>
</div>